{% extends "layout.html" %}

{% block body_content %}
<p>login to app</p>
<p>username text box </p>
<p> password text box</p>
<p> initiate login button</p>
<p> create/register account button</p>
<form method="POST" action="">
    <center>
    <H1>Enter your details </H1> <br>
    Username <input type = "text" name= "username" /> <br>
    Password <input type = "password" name = "password" /> <br>
    <input type=button onclick="parent.location='../register'" value='Create Account'>
    <input type = "submit">
    </center>
</form>
{% endblock %}

